@import "buttons";
/*@import "estilo1.scss";*/
@import "estilo2.scss";

body {
    background-color: $color2;
    color: $color1;
}

.fondo-blanco {
    background-color: $color1;
    color: $color2;
}