<div class="card">
    <div class="card-header bg-primary text-white">
        {{ product?.description }}
    </div>
    <div class="card-block p-3 text-center">
        <img [src]="product?.imageUrl" alt="">
        <div>Price: {{ product?.price | currency:'EUR': 'symbol' }}</div>
        <div>Available since: {{ product?.available | date:'dd/MM/y' }}</div>
        <div>
            <ulab-star-rating [rating]="product.rating"
                            (ratingChanged)="changeRating($event)"></ulab-star-rating>
        </div>
        <div>
            <button type="button" class="btn btn-default" (click)="goBack()">Volver</button>
            <button type="button" class="btn btn-default ml-4" (click)="edit()">Editar producto</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header bg-succes text-white">
        Editar producto
    </div>
    <div class="card-body">
        <div>
            <input type="text" class="form-control" [(ngModel)]="product.description" #descModel="ngModel">
        </div>
        <div>Dirty: {{ descModel.dirty }}</div>
        <div>Valid: {{ descModel.valid }}</div>
        <div>Value: {{ descModel.value }}</div>
        <div>Errors: {{ descModel.errors | json }}</div>
        <div>{{ product | json }}</div>
    </div>
</div>