<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 [setColor]="color">
    {{ title }}!
  </h1>

  <h2>Repeat Times</h2>

  <select [(ngModel)]="color">
    <option value="yellow">Yellow</option>
    <option value="red">Red</option>
    <option value="#06F">Blue</option>
  </select>

  <p *repeatTimes="4; let n = current">
    {{n}} welcome works!
  </p>

  <h2>Filter</h2>

  <p *forFilter="let person from persons by filter">
    {{ person.name + " - " + person.age | json }}
  </p>
  
</div>


