<div class="row" *ngIf="events && events.length > 0; else elseBlock">
    <div class="col-6 mt-4" *ngFor="let event of events">
        <div class="card">
            <img [src]="event.image" alt="" [title]="event.title" class="card-img-top">
            <div class="card-body">
                <h4>{{ event.title | titlecase }}</h4>
                <p class="card-text">{{ event.description }}</p>
            </div>
            <div class="card-footer text-muted">
                {{ event.date | date:'dd/MM/y' }}
                <span class="float-right">{{ event.price | currency : 'EUR':'symbol' }}</span>
            </div>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <h3>No available events</h3>
</ng-template>
